*{
    box-sizing: border-box;
    margin: 0;
}

.header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: green;
}

.container{
    width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}